#blog
{
    background: #F0F8FF;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #C0C0C0;
    border-radius: 10px;
    margin:10px auto 10px auto;
    width: 75%;
}
#blog h4,h2,h1
{
    text-align: center;
}
#blog #post .meta_datos_post h4,h2,h1
{
    text-align: left;
}
#blog article
{
        width: 199px;
        height: auto;
        padding: 11px;
        text-align: left;
        background-color: #f8f8f8;
        box-shadow: 1px 1px 2px 1px #337ab7;
        border-radius: 10px 3px 10px 3px;
}
#blog article:hover
{
    background-color: #f0f0f0;
    box-shadow: 1px 1px 10px 1px #337ab7;
}
#blog article a
{
    font-weight: bold;
}
#blog a:hover
{
    text-decoration: none;

}

#blog .contenedor
{
    display: flex;
    width:100%;
    margin: auto;
    flex-wrap: wrap;
}
#blog .contenedor article
{
    margin: 15px;
}

#blog img
{
    width: 100%;
    max-width: 280px;
    max-height: 180px;
}
.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: normal;

}
.tituloNoticia
{
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    border-radius: 5px;
    word-wrap: break-word;
    font-weight: bold;
    color: #096FDB;


}
.sep2{
    width: 103%;
    height: 40px;
    background-color: #3385FF;
    padding-left: 5px;
    margin-left: -6px;

}
@media(min-width:1024px)
{
    #blog
    {
        max-width: 800px;
    }
    #blog article
    {
        width: 199px;
        height: auto;
        padding: 11px;
        box-shadow: 1px 1px 2px 1px #337ab7;
        border-radius: 10px;
    }
    
    #blog .contenedor
    {
        width: 95%;
    }

    #blog #post .img_articles
    {
        max-width: 300px;
        margin: auto;
    }

    #content_detalle
    {
        width: 95%;
        padding: 2px;
        margin: auto;
        word-wrap: break-word;
    }


    .tituloNoticia
    {
        font-size: 21px;
        text-align: center;
        text-transform: capitalize;
        /*border: 1px solid rgba(0, 0, 0, 0.1);*/
        border-radius: 5px;
        word-wrap: break-word;
        font-weight: bold;
        color: #096FDB;


    }
    .meta_datos_post
    {
        height:auto;
        max-width: 100%;
        margin-top: 50px;
        border-radius: 5px;
        color:#f0f0f0;
        background-color: transparent;
        border:3px solid rgba(230, 230, 230, 1);
    }
    .meta_datos_post ul
    {
        list-style: none;
        margin-left: -30px;
    }
    .meta_datos_post ul li
    {

        width: 300px;
        margin-right: 0px;


    }
    .sep2{
        width: 103%;
        height: 40px;
        background-color: #3385FF;
        padding-left: 5px;
        margin-left: -11px;
    }

}