@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Lato';
@import url(header.css);
@import url(menu.css);
@import url(slide.css);
@import url(blog.css);
@import url(aside.css);
@import url(footer.css);

@font-face {

    font-family: "ComicSansMS";
    src: url("fonts/comic-sans-ms.ttf");
    font-weight: 300;
}

/*************************************************************************************/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background: #D2E3C8;
}

.contenedor
{
    width: 98%;
    margin: auto;
}
#frases
{

  background: #fff;    
  border-bottom: 5px solid #4E4E4E;
  text-align: center;
  padding: 5px;
}
.titulo
{
    color: rgba(68, 203, 203, 1);
    width: 190px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#FormularioContacto
{
  width: 320px;
  max-width: 320px;
}

#categorias
{
    width: 95%;
    height: auto;
    margin: auto;
}
.categorie
{
    margin-bottom: 1px;

}
.categorie:hover
{
    background-color: #2b87b7 !important;
}
.tagslist
{
    margin-bottom: 1px;
}
#categorias div
{
    max-width: 200px;
    display: inline-block;
}
#categorias div a
{
    max-width: 200px;
}
#categorias ul
{
    list-style: none;
    width: 200px;

}
#categorias ul li
{
    max-width:80px;
    height: 50px;
    display: inline-block;
    margin-left:60px;
    text-align: center;
    padding:5px;
    vertical-align: super;
}

#categorias ul li a
{
    margin-bottom: 5px;
}


#categorias ul li img
{
    margin: auto;

}
/***********************************************************************/
@media(min-width:1024px)
{
    .contenedor
    {
        width: 1000px;
    }
    #frases
    {
        margin-top:0;
    }
    #categorias
    {
        width: 80%;
    }
    #categorias div
    {
        max-width: 300px;
        display: inline-block;
    }
    #categorias div a
    {
        max-width: 300px;
    }
    #categorias ul
    {
        list-style: none;
        width: 300px;

    }

}

#FormularioContacto
{
    display: none;
}
.formopacity {
    opacity: 0.5;
}
.ui-dialog
{
    width: 500px;
}
#subir
{

}
.Comic_Sans
{
    font-family: "ComicSansMS", sans-serif;
}

#photozoom
{
    position: absolute;
    margin-top: 80px;
    z-index: 500;
}
