header
{
    width: 100%;
    height:170px;
    background: #fff;
    color: #000;
    top:0;
    left: 0;
    z-index: 100;
    border-top: 5px solid #4E4E4E;
    border-bottom: 5px solid #4E4E4E;
    background-image: url('../img/background-web/white-background-image-6.png');
}

header h1
{
    float: left;
}
#cabecera .contenedor a
{
    color: #000;
}
header img
{
    width: 30px;
    height: 30px;
    margin-left: 1px;
}
header .contenedor
{
    display: table;
}

#Textbuscar
{
    width: 250px;
}
#div_form_buscar
{
width: 300px;
margin: auto;
}

@media(min-width:1024px)
{
    header
    {
        height: 170px;
        position: static;
    }
    header h1
    {

        margin-top: 40px;
    }
    header img
    {
        width: 70px;
        height: 70px;
        margin-left: 1px;
    }
    #div_form_buscar
    {
            float: right;
            margin-right:200px;
            margin-top: -50px;
            width: 460px;
    }

    #Textbuscar
    {
        width: 400px;
        height: 40px;
    }
    #btnbusqueda
    {
        height: 40px;
    }
}
