#menu-bar
{
    display: none;
}

header label
{
    float: right;
    font-size: 28px;
    margin-top: -50px;
    margin-right: 7px;
    cursor: pointer;
    color:#f93;
}
.menu
{
    position: absolute;
    width: 100%;
    top: 165px;
    left: 0;
    height: 100vh;
    background:#f93;
    transition: all 0.6s;
    transform: translateX(-100%);
    z-index:100;
}
.menu a
{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.menu a:hover
{
     /*background:#DE740A;*/
}
/*#menu-bar:checked ~ .menu
{
    transform: translateY(0%);
}
*/
section
{
    width: 100%;
    margin-bottom: 25px;
}
@media(min-width:1024px)
{
     .menu
    {
        position: static;
        width: auto;
        height:50px;
        transform: translateX(0%) !important;
        display: flex;
        margin-top: 71px;
       
    }
    .menu a
    {
        border: none;
        text-align: center;
        display: inline-block;

    }
    .menu div
    {
        width: 75%;
        margin: auto;
    }
    header label
    {
        display: none;
    }
}
