#slide
{
    margin-top: 0;
    position: relative;
}
#slide img
{
    width: 100%;
    height:300px;
}
.bx-wrapper
{
    height: 300px;
}

#slide .contenedor
{
    position: absolute;
    top: 50%;
    height: 50%;
        
}
.bx-wrapper .bx-controls-direction a
{
    z-index: 80;
}

@media(min-width:768px)
{
    #slide
    {
        overflow: hidden;
        width: 80%;
        margin: auto;
        margin-top: 10px;


    }
    #slide img
    {

   
    }
    #slide div
    {

    }
}

@media(min-width:1024px)
{
    #bs-example-navbar-collapse-1
    {
        position: fixed;
        background-color: #fafafa;
        z-index: 1;
    }

    #slide
    {
        margin-top: 60px;
    }
}
